<div class="row-fluid">
	<div id="all_contests" class="span7 offset1 well overlay">
		<div class="row-fluid">
			<% @contests.each_pair do |type, contests| %>
			  <% if not contests.empty? %>
				<div class="span2 outline">
					<%= type %><br/>
					<% contests.each do |c| %>
						<%= link_to c.name.truncate(13), contest_path(c.code), :class => ('participating' if @participating.include? c) %><br/>
					<% end %>
				</div>
				<% end %>
			<% end %>
		</div>
	</div>
	<div class="span3">
		<%= image_tag "posters/8.jpg", :alt => "Event Poster" %>
	</div>
</div>
