<div id="contests_expanding_menu" class="row-fluid">
  <div id="ei_menu" class="ei_menu span7 offset1">
	  <ul>
	    <% @contests.each_with_index do |(type, contests), index| %>
	    <li>
	      <a href="#" class="pos<%= index + 1 %>">
	        <span class="ei_preview"></span>
				  <span class="ei_image"></span>
	      </a>
	      <div class="ei_descr">
				  <h2><%= type %></h2>
				  <p>
				  <% contests.each do |c| %>
						<%= link_to c.name, contest_path(c.code), :class => contest_class(c) %><br/>
					<% end %>
				  </p>
			  </div>
	    </li>
	    <% end %>
	  </ul>
  </div>
</div>
