<div class="markdown_syntax">
  <p>
    The following form supports Markdown. 
    Please refer to this <%= link_to "Markdown Syntax", "http://daringfireball.net/projects/markdown/syntax" %>.
    Markdown is supported for the fields: Description, Rules and Judging.
  </p>
  <p>
    The text boxes are resizable by dragging the right-bottom corner.
    Please adapt them according to your convenience.
  </p>
</div>
