<div class="row-fluid">
  <h2>Credits</h2>
  <p>
    <ul>
      <li>Rails</li>
      <li>Devise</li>
      <li>Kaminari</li>
      <li>Kramdown</li>
      <li>Faker</li>
      <li>Bootstrap</li>
      <li>jQuery</li>
      <li>TheRubyRacer</li>
    </ul>
  </p>
</div>
