// Place all the styles related to the contests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.participating{
  color: darkgreen;
  font-weight: bold;
}
/* Menu style */
$menu_height: 280px;
$item_width: 75px;
.ei_menu{
  background: #111;
  width: 100%;
  overflow: visible;
  ul{
    height: $menu_height;
    /* margin-left: 50px; */
    position:relative;
    display:block;
    width: 115%; /* was 1300px */
    li{
      float: left;
      width: $item_width;
      height: $menu_height;
      position: relative;
      overflow: hidden;
      border-right: 2px solid #111;
    }
  }
}
.ei_preview{
	width: $item_width;
	height: $menu_height;
	cursor: pointer;
	position: absolute;
	top: 0px;
	left: 0px;
	background: transparent url(events_menu/bw.jpg) no-repeat top left;
}
.ei_image{
	position: absolute;
	left: $item_width;
	top: 0px;
	width: $item_width;
	height: $menu_height;
	opacity: 0.2;
	background: transparent url(events_menu/color.jpg) no-repeat top left;
}
.pos1 span{
	background-position: (0 * $item_width) 0px;
}
.pos2 span{
	background-position: (-1 * $item_width) 0px;
}
.pos3 span{
	background-position: (-2 * $item_width) 0px;
}
.pos4 span{
	background-position: (-3 * $item_width) 0px;
}
.pos5 span{
	background-position: (-4 * $item_width) 0px;
}
.pos6 span{
	background-position: (-5 * $item_width) 0px;
}
.ei_descr{
	position: absolute;
	width: 65%; /* was 278px */
	height: ($menu_height - 40px);
	border-right: 7px solid #f0f0f0;
	padding: 20px;
	left: $item_width;
	top: 0px;
	background: white;
	h2{
	  font-family: 'Rock Salt', arial, serif;
	  font-size: 26px;
	  color: #333;
	  padding: 10px;
	  text-shadow: 0px 0px 1px white;
	  background: white url(events_menu/stripe_light.gif) repeat top left;
	  text-transform: uppercase;
	  text-align: center; /* Added */
	}
	h3{
	  font-family: 'Raleway', arial, serif;
	  color: white;
	  text-shadow: 0px 0px 1px #000;
	  font-style: normal;
	  padding: 10px;
	  background: #333;
	}
	p{
	  color: black;
	  padding: 10px 5px 0px 5px;
	  line-height: 25px;
	  font-size: 100%;
	  font-family: Arial;
	  text-transform: uppercase;
	  text-align: center; /* Added */
  }
}
